In [88]:
#Importing required libraries
import pandas as pd
import datetime as dt

# Loading .Csv file into dataframe
df = pd.read_csv("Airbnb_Open_Data.csv")

# Returns first 5 rows of the dataframe
df.head()

/var/folders/q2/3dqp74q97zj2mwspnj12v3c80000gn/T/ipykernel_4787/2580582970.py:6: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Airbnb_Open_Data.csv")

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [90]:
#counts the missing values per each column in the dataframe.
df.isna().sum()

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [91]:
# Drop unwanted columns from the table.
df.drop(["license","house_rules","reviews per month","lat","long","neighbourhood group", "neighbourhood", "country code", "host_identity_verified"],axis = 1,inplace = True)
df

,id,NAME,host id,host name,country,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,review rate number,calculated host listings count,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,United States,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,4.0,6.0,286.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,United States,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,4.0,2.0,228.0
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,Elise,United States,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,5.0,1.0,352.0
3,1002755,NaN,85098326012,Garry,United States,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.0,1.0,322.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,United States,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,3.0,1.0,289.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,Krik,United States,False,flexible,Private room,2003.0,$844,$169,1.0,0.0,NaN,3.0,1.0,227.0
102595,6092990,Best Location near Columbia U,77864383453,Mifan,United States,True,moderate,Private room,2016.0,$837,$167,1.0,1.0,7/6/2015,2.0,2.0,395.0
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,Megan,United States,True,moderate,Private room,2009.0,$988,$198,3.0,0.0,NaN,5.0,1.0,342.0
102597,6094094,Big Studio-One Stop from Midtown,11160591270,Christopher,United States,True,strict,Entire home/apt,2015.0,$546,$109,2.0,5.0,10/11/2015,3.0,1.0,386.0
102598,6094647,585 sf Luxury Studio,68170633372,Rebecca,United States,False,flexible,Entire home/apt,2010.0,"$1,032",$206,1.0,0.0,NaN,3.0,1.0,69.0

In [92]:
#Keep the DataFrame with valid entries in the same variable.
df.dropna(inplace=True)

# To remove duplicate rows based on all columns.
df.drop_duplicates(inplace=True)

# To remove duplicates on specific column(s)
df.drop_duplicates(subset = ['NAME', 'host id', 'host name'], inplace = True)
df.drop_duplicates(subset = ['host id', 'host name'], inplace = True)
df.drop_duplicates(subset = ['NAME'], inplace = True)
df.drop_duplicates(subset = ['host id'], inplace = True)
df

,id,NAME,host id,host name,country,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,review rate number,calculated host listings count,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,United States,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,4.0,6.0,286.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,United States,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,4.0,2.0,228.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,United States,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,3.0,1.0,289.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,United States,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,6/22/2019,3.0,1.0,374.0
6,1004650,BlissArtsSpace!,61300605564,Alberta,United States,False,moderate,Private room,2015.0,$71,$14,45.0,49.0,10/5/2017,5.0,1.0,224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99195,55786735,Cozy room by South Seaport,48612012563,Ada,United States,True,moderate,Private room,2011.0,$706,$141,1.0,31.0,6/24/2019,5.0,1.0,195.0
99573,55995504,Cozy 1bd in Kensington,85179861188,Alena,United States,False,flexible,Entire home/apt,2015.0,$93,$19,1.0,2.0,5/27/2019,5.0,1.0,95.0
99578,55998265,Elmhurst 1st Fl Rightl Bedroom,34881230981,Rafael,United States,True,flexible,Private room,2017.0,$220,$44,1.0,17.0,7/1/2019,5.0,7.0,0.0
99583,56001027,Elmhurst 1st Floor BR w/ Pvt. Bath&Balcony,79543654114,Rafael,United States,True,strict,Private room,2004.0,$551,$110,1.0,17.0,5/24/2019,3.0,7.0,0.0
99587,56003236,Parisian Style Apartment in Heart of Brooklyn,57134653207,Dora,United States,True,flexible,Entire home/apt,2007.0,$894,$179,2.0,9.0,6/13/2019,5.0,1.0,0.0

In [93]:
#changing the datetime of last_review to mm/dd/yyyy
df["last review"] = pd.to_datetime(df["last review"])

#the string (object) format changes the format to mm//dd//yyyy
df["last review"] = pd.to_datetime(df["last review"]).dt.strftime('%m-%d-%Y')
df

,id,NAME,host id,host name,country,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,review rate number,calculated host listings count,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,United States,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10-19-2021,4.0,6.0,286.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,United States,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,05-21-2022,4.0,2.0,228.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,United States,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11-19-2018,3.0,1.0,289.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,United States,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,06-22-2019,3.0,1.0,374.0
6,1004650,BlissArtsSpace!,61300605564,Alberta,United States,False,moderate,Private room,2015.0,$71,$14,45.0,49.0,10-05-2017,5.0,1.0,224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99195,55786735,Cozy room by South Seaport,48612012563,Ada,United States,True,moderate,Private room,2011.0,$706,$141,1.0,31.0,06-24-2019,5.0,1.0,195.0
99573,55995504,Cozy 1bd in Kensington,85179861188,Alena,United States,False,flexible,Entire home/apt,2015.0,$93,$19,1.0,2.0,05-27-2019,5.0,1.0,95.0
99578,55998265,Elmhurst 1st Fl Rightl Bedroom,34881230981,Rafael,United States,True,flexible,Private room,2017.0,$220,$44,1.0,17.0,07-01-2019,5.0,7.0,0.0
99583,56001027,Elmhurst 1st Floor BR w/ Pvt. Bath&Balcony,79543654114,Rafael,United States,True,strict,Private room,2004.0,$551,$110,1.0,17.0,05-24-2019,3.0,7.0,0.0
99587,56003236,Parisian Style Apartment in Heart of Brooklyn,57134653207,Dora,United States,True,flexible,Entire home/apt,2007.0,$894,$179,2.0,9.0,06-13-2019,5.0,1.0,0.0

In [94]:
# removing special character ($) from price and service fee columns
df['price'] = df['price'].str.replace('\W', '', regex=True)
df['service fee'] = df['service fee'].str.replace('\W', '', regex=True)
df

,id,NAME,host id,host name,country,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,review rate number,calculated host listings count,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,United States,False,strict,Private room,2020.0,966,193,10.0,9.0,10-19-2021,4.0,6.0,286.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,United States,False,moderate,Entire home/apt,2007.0,142,28,30.0,45.0,05-21-2022,4.0,2.0,228.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,United States,False,moderate,Entire home/apt,2009.0,204,41,10.0,9.0,11-19-2018,3.0,1.0,289.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,United States,True,flexible,Entire home/apt,2013.0,577,115,3.0,74.0,06-22-2019,3.0,1.0,374.0
6,1004650,BlissArtsSpace!,61300605564,Alberta,United States,False,moderate,Private room,2015.0,71,14,45.0,49.0,10-05-2017,5.0,1.0,224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99195,55786735,Cozy room by South Seaport,48612012563,Ada,United States,True,moderate,Private room,2011.0,706,141,1.0,31.0,06-24-2019,5.0,1.0,195.0
99573,55995504,Cozy 1bd in Kensington,85179861188,Alena,United States,False,flexible,Entire home/apt,2015.0,93,19,1.0,2.0,05-27-2019,5.0,1.0,95.0
99578,55998265,Elmhurst 1st Fl Rightl Bedroom,34881230981,Rafael,United States,True,flexible,Private room,2017.0,220,44,1.0,17.0,07-01-2019,5.0,7.0,0.0
99583,56001027,Elmhurst 1st Floor BR w/ Pvt. Bath&Balcony,79543654114,Rafael,United States,True,strict,Private room,2004.0,551,110,1.0,17.0,05-24-2019,3.0,7.0,0.0
99587,56003236,Parisian Style Apartment in Heart of Brooklyn,57134653207,Dora,United States,True,flexible,Entire home/apt,2007.0,894,179,2.0,9.0,06-13-2019,5.0,1.0,0.0

In [95]:
# Renaming specific label names in dataframe
df.rename({"service fee" : "service_fee", "NAME" : "name", "host id" : "host_id", "host name" : "host_name", "minimum nights":"minimum_nights", "number of reviews":"number_of_reviews","last review": "last_review", "calculated host listings count":"calculated_host_listings_count","availability 365":"availability_365"}, axis = 1, inplace = True)
df

,id,name,host_id,host_name,country,instant_bookable,cancellation_policy,room type,Construction year,price,service_fee,minimum_nights,number_of_reviews,last_review,review rate number,calculated_host_listings_count,availability_365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,United States,False,strict,Private room,2020.0,966,193,10.0,9.0,10-19-2021,4.0,6.0,286.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,United States,False,moderate,Entire home/apt,2007.0,142,28,30.0,45.0,05-21-2022,4.0,2.0,228.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,United States,False,moderate,Entire home/apt,2009.0,204,41,10.0,9.0,11-19-2018,3.0,1.0,289.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,United States,True,flexible,Entire home/apt,2013.0,577,115,3.0,74.0,06-22-2019,3.0,1.0,374.0
6,1004650,BlissArtsSpace!,61300605564,Alberta,United States,False,moderate,Private room,2015.0,71,14,45.0,49.0,10-05-2017,5.0,1.0,224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99195,55786735,Cozy room by South Seaport,48612012563,Ada,United States,True,moderate,Private room,2011.0,706,141,1.0,31.0,06-24-2019,5.0,1.0,195.0
99573,55995504,Cozy 1bd in Kensington,85179861188,Alena,United States,False,flexible,Entire home/apt,2015.0,93,19,1.0,2.0,05-27-2019,5.0,1.0,95.0
99578,55998265,Elmhurst 1st Fl Rightl Bedroom,34881230981,Rafael,United States,True,flexible,Private room,2017.0,220,44,1.0,17.0,07-01-2019,5.0,7.0,0.0
99583,56001027,Elmhurst 1st Floor BR w/ Pvt. Bath&Balcony,79543654114,Rafael,United States,True,strict,Private room,2004.0,551,110,1.0,17.0,05-24-2019,3.0,7.0,0.0
99587,56003236,Parisian Style Apartment in Heart of Brooklyn,57134653207,Dora,United States,True,flexible,Entire home/apt,2007.0,894,179,2.0,9.0,06-13-2019,5.0,1.0,0.0

In [96]:
# altering the price and service fee charges from int to float 
df.price = df.price.astype("float64")
df.service_fee = df.service_fee.astype("float64")
df

,id,name,host_id,host_name,country,instant_bookable,cancellation_policy,room type,Construction year,price,service_fee,minimum_nights,number_of_reviews,last_review,review rate number,calculated_host_listings_count,availability_365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,United States,False,strict,Private room,2020.0,966.0,193.0,10.0,9.0,10-19-2021,4.0,6.0,286.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,United States,False,moderate,Entire home/apt,2007.0,142.0,28.0,30.0,45.0,05-21-2022,4.0,2.0,228.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,United States,False,moderate,Entire home/apt,2009.0,204.0,41.0,10.0,9.0,11-19-2018,3.0,1.0,289.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,United States,True,flexible,Entire home/apt,2013.0,577.0,115.0,3.0,74.0,06-22-2019,3.0,1.0,374.0
6,1004650,BlissArtsSpace!,61300605564,Alberta,United States,False,moderate,Private room,2015.0,71.0,14.0,45.0,49.0,10-05-2017,5.0,1.0,224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99195,55786735,Cozy room by South Seaport,48612012563,Ada,United States,True,moderate,Private room,2011.0,706.0,141.0,1.0,31.0,06-24-2019,5.0,1.0,195.0
99573,55995504,Cozy 1bd in Kensington,85179861188,Alena,United States,False,flexible,Entire home/apt,2015.0,93.0,19.0,1.0,2.0,05-27-2019,5.0,1.0,95.0
99578,55998265,Elmhurst 1st Fl Rightl Bedroom,34881230981,Rafael,United States,True,flexible,Private room,2017.0,220.0,44.0,1.0,17.0,07-01-2019,5.0,7.0,0.0
99583,56001027,Elmhurst 1st Floor BR w/ Pvt. Bath&Balcony,79543654114,Rafael,United States,True,strict,Private room,2004.0,551.0,110.0,1.0,17.0,05-24-2019,3.0,7.0,0.0
99587,56003236,Parisian Style Apartment in Heart of Brooklyn,57134653207,Dora,United States,True,flexible,Entire home/apt,2007.0,894.0,179.0,2.0,9.0,06-13-2019,5.0,1.0,0.0

In [97]:
#counts the missing values per each column in the dataframe.
df.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
country                           0
instant_bookable                  0
cancellation_policy               0
room type                         0
Construction year                 0
price                             0
service_fee                       0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
review rate number                0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [98]:
# Write DataFrame to an CSV file
df.to_csv("Newyork_data2.csv")